<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkAxm_Ebrk1Io5pe5ngsyloJdFe9iSac8</string>
	<key>GCM_SENDER_ID</key>
	<string>123382789346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tarotit</string>
	<key>PROJECT_ID</key>
	<string>opus-aff50</string>
	<key>STORAGE_BUCKET</key>
	<string>opus-aff50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123382789346:ios:0e564fb4fbcd1717a99abb</string>
</dict>
</plist>